.home_page_tag {
  position: absolute;
  left: 20px;
  bottom: 30px;
  z-index: 1001;
  padding: 1em 0 1em 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home_page_tag p {
  color: white;
  font-size: 2.25em;
}

.highlight_red {
  color: #d91e05;
  font-style: italic;
}
